.apartment-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: minmax(40vmin, 1fr);
  background-color: white;
  box-shadow: 1px 1px 5px #f0f0f0;
}
.apartment-img {
  width: 100%;
}
.apartment-info-container {
  margin-left: 1vmin;
  margin-right: 1vmin;
  margin-top: 1vmin;
}
.apartment-table-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vmin;
}
.apartment-table-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  font-size: 1.5vmin;
}
#roof-row {
  border-bottom: none;
}
#apartment-code {
  color: #65bbc7;
  font-weight: 700;
}
